.entry-header {
    background-color: #f4623a !important;
}
#site-footer {
    background-color: #f4623a !important;
}

.feedback-button {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25) !important;
    position: fixed;
    border: 1px solid var(--input-border-color);
    bottom: 0;
    right: 20px;
    margin: 0;
    font-size: 14px;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
    z-index: 9;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 0;
    border-right: 0;
    background: #fff;
    color: var(--input-text-color);
    background: var(--input-background-color);
}


.button-wrap {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.smart-button {
    color: white;
    letter-spacing: 2.5px;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 20px;
    font-size: 20px;
    padding: 10px;

    min-width:75px;
    width: 60%;
    max-width:350px;
}

.smart-button[value="black"]{
    background-color: black;
}

.smart-button[value="orange"]  {
    background-color: #f4623a;
}

.smart-button[value="orange"]:hover {
    background-color: black;
}

.smart-button[value="demoButton"]{ 
    border-color: black;
    border:solid 2px;
    background-color: white;
    color: black;
    border-radius:0px;
}

.own-h3 {
    font-size: 30px; 
    font-weight: 600;
    color: black;
    width: 100%;
    margin-bottom:20px;
}


.input-form {
    background:white;
    color: black;
    border-radius: 10px !important;
    height: 50px;
    margin-top:40px !important; 
    padding: 1.5rem 1.8rem;
    font-size:1.6rem;

    min-width:150px;
    width: 60%;
}

.input-group {
    max-width: 80%;
    margin: auto;
}

.frontpage-logo {
    margin: 30px;
}

.frontpage-title {
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    hyphens: manual;
    text-align: center;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    font-style: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #ddd;
    font-family: roboto, Sans-serif;
    font-size: 7vw;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.frontpage-subtitle {
    --font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    text-align: center !important;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 3rem !important;
    font-weight: 300 !important;
    color: rgba(255, 255, 255, 0.75);
    font-size: 4vw;
}


.flight-map {
    width: 100%;
    margin: 35px auto auto;
    color:black;
}


/* ----------------------
	TYPOGRAPHY 
	---------------------- */
body {
    font-size: 20px;
    position:absolute;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1.1em;
}


.h2-highlighting-button
{
	background-color:#F4623A;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	padding:15px;
	text-align:center;
	border-radius:25px;
}

.h2-highlighting-button:hover
{
	background-color:#d6370c;
	color:white;
	transform: translateY(-7px);
} 

.landing-page{
	margin-top: 150px;
	padding:15px;
}

.landing-page:before{
	content: ""; 
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background: url("https://dronorder.net/wp-content/uploads/2020/06/action-air-aircraft-aviation-442587-scaled.jpg") center center;
	opacity:.65;
}

/* Skip Link --------------------------------- */
.skip-lp {
	text-decoration-line:none;
	padding:2rem;
	font-size:25px; 
	background-color:black;
    color:white;
}
 
 
.zoom-1{ 
	transition: transform .4s;
}

.zoom-1:hover {
	z-index:100;
	-ms-transform: scale(1.15); /* IE 9 */
	-webkit-transform: scale(1.15); /* Safari 3-8 */
	transform: scale(1.15); 
}

/* Use this with an empty span in div
Upper div has to have a position:relative */
.fill-div-with-link{
	position:absolute; 
	width:100%; 
	height:100%; 
	/* z-index: 1; */
} 
